*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
main{
    height: 100vh;   
}

.item-header{
    grid-area: header;
    background-color: #070707;
    width: 22vw;
}
.item-menu{
    grid-area: menu;
    background-color: #161616;
}
.item-section{
    grid-area: section;
    background-color:#232323;
    width: 80vw;
}
.item-footer{
    grid-area: footer;
    background:  linear-gradient(to right, #ae2896, #509bf5);
    width: 100vw;
}

.grid-container{
    display: grid;
    grid-template-areas:'header menu menu menu menu menu'
    'header section section section section section'
    'footer footer footer footer footer footer';
    gap: 0px;
    padding: 0px;
}

/******Estilização header lateral******/
.item-header{
    display: flex;
    flex-direction: column;
}
.logo-menu{
    padding: 20px 0 0 20px;
    position: fixed;
    cursor: pointer;
}
.item-menu-ul-1, .item-menu-ul-2{
    padding: 20px 0 0;
    line-height: 40px;
}
.item-menu-ul-1 li a, .item-menu-ul-2 li a{
    text-decoration: none;
    color: #b7b5b5;
    font-weight: bold;
    font-size: 12px;
    margin-top: 60px;
    padding: 0 0 10px 25px;
    position: fixed;
}
.item-menu-ul-1 li a .fa, .item-menu-ul-2 li a .fa{
    padding-right: 10px;
}
.item-menu-ul-1 li a:hover,
.item-menu-ul-1 li a:active,
.item-menu-ul-1 li a:focus,
.item-menu-ul-2 li a:hover,
.item-menu-ul-2 li a:active,
.item-menu-ul-2 li a:focus{
    color: #fff;
    font-size: 12.2px;
    transition: 0.5s;
}

.item-menu-cookies{
    height: 150px;
    padding: 20px;
    position: fixed;/*Para fixar na posicao do bottom*/
    bottom: 85px;/*Posicao*/
}
.item-menu-cookies .item-cookies{
    color: #ffffff;
    text-decoration: none;
}
.item-cookies:hover{
    text-decoration: underline;
}
.item-cookies{
    margin-bottom:50px;
    font-size: 10px;
}
.item-menu-cookies .fas{
    margin-top: 40px;
    padding: 6px 5px;
    border-radius: 40px;
    font-size: 9px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.item-menu-cookies-span{
    text-transform: none;
}
.item-menu-cookies .fas:hover{
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px #fff;
    transition: 0.2s;
}

/**Estilização do menu topo**/
.item-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    margin-right: 30px;
}
.btn-anterior-proximo{
    margin-left: 20px;
}
.item-menu .fa{
    color: #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background: #0e0e0e;
    border: #272727;
    cursor: pointer;
}

.link-e-button-inscrever-entrar{
    margin-right: 20px;
}
.link-e-button-inscrever-entrar .entrar{
    font-size: 18px;
    color: #d1cece;
    text-decoration: none;
    padding-right: 10px;
}
.link-e-button-inscrever-entrar .entrar:hover,
.link-e-button-inscrever-entrar .entrar:active,
.link-e-button-inscrever-entrar .entrarhover{
    font-size: 18.3px;
    transition: 0.5s;
    color: #fff;    
}

.link-e-button-inscrever-entrar .inscrever a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.link-e-button-inscrever-entrar .inscrever:hover{
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #fff;
    transition: 0.2s;
}
.link-e-button-inscrever-entrar .inscrever{
    padding: 10px 20px;
    border-radius: 40px;
}

/****Estiliação da section******/
.item-section{
    padding: 20px;
}
.texto-btn-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
}
.texto-btn-link a{
    color: #fff;
    text-decoration: none;
}
.texto-btn-link-a-1{
    font-size: 30px;
    font-weight: bold;
}
.texto-btn-link-a-1:hover, .texto-btn-link-a-2:hover{
    text-decoration: underline;
}
.tipo-de-albuns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*overflow-x: auto;*/
}
.artistas-albuns{
    background: rgb(28, 27, 27);
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 12px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 7px;
}
.textos-albuns{
    color: #fff;
}
.textos-albuns h4{
    padding-top: 5px;
    padding-bottom: 10px;
}
.btn-play{
    position: relative;
}
.btn-play .fa{
    position: absolute;
    right: 10px;
    top: -60px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.artistas-albuns:hover .btn-play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.artistas-albuns:hover{
    background-color: #2b2b2b;
    transition: all ease 0.6s;
}
.hr-linha-fim hr{
    width: 95%;
    margin-top: 50px;
    margin-bottom: 130px;
    border: 1px solid rgb(54, 53, 53);/*OBS: Só muda a cor do hr se colocar apropiedade border, pois ele é uma borda encurtada*/
}

/**********Footer*********/
.item-footer{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.item-footer-h6-p{
    color: #fff;
}
.item-footer-h6-p h6{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 500;
}
.item-footer-h6-p p{
    font-weight:500;
    line-height: 25px;
}
.item-footer-button button{
    width: 142px;
    padding: 20px 1px;
    border-radius: 30px;
    border: none;
    margin-left: 5px;
    margin-right: 30px;
}
.item-footer-button button a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.item-footer-button button:hover{
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #fff;
    transition: 0.2s;
}


